<div class="container" [@loginBorder]='state'>
  <div *ngIf="!userLoggedIn; else logout">
    <p class="topic">{{Topic}}</p>
    <div class="form">
      <div class="username">
        <p class="usernameLabel">Username</p><input #usernameInput class="usernameInput" >
      </div>
      <div class="password">
        <p class="passwordLabel">Password</p><input #passwordInput class="passwordInput" type="password">
      </div>
    </div>
    <button class="button" (click)="checkCredentials({'username':usernameInput.value,'password':passwordInput.value})"><span>Login </span></button>
  </div>
  <ng-template #logout>
    <p class="name">{{credentials.username | titlecase}}</p>
    <section (click)="promotionsClicked()">Promotions</section>
    <section (click)="transactionsClicked()">Transactions</section>
    <section (click)="trackingClicked()">Tracking</section>
    <section (click)="addItemClicked()">Add Item</section>
    <button class="button" (click)="logOut()"><span>Logout </span></button>
  </ng-template>
</div>
