.container{
  height: fit-content;
  background: rgba(255, 255, 255, 0.4); /* Green background with 30% opacity */
  border: solid var(--login-theme-color) 3px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  animation-duration: 3s;
}
@keyframes changeBorderColor {
  0%{
    border-color: red;
  }
  100%{
    border-color: var(--login-theme-color);
  }
}

.topic{
  color: black;
  font-size: large;
  color: var(--login-theme-color);
}

.button {
  border-radius: 4px;
  background-color: var(--login-theme-color);
  border: none;
  color: var(--login-button-font-color);
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.username{
  display: flex;
  align-items: center; /*vertically Center*/
}
.usernameLabel{
  color:  var(--login-form-font-color);
  margin: 0;
  text-align: right;
  min-width: 110px;
  margin-right: 5px;
}
.usernameInput{
  height: 25px;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--login-inputFont-color);
  border: solid 1px rgb(0,0,0,0.4);
}
.password{
  display: flex;
  align-items: center; /*vertically Center*/
}
.passwordLabel{
  color: var(--login-form-font-color);
  margin: 0;
  text-align: right;
  min-width: 110px;
  margin-right: 5px;
}
.passwordInput{
  height: 25px;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--login-inputFont-color);
  border: solid 1px rgb(0,0,0,0.4);
}
.usernameInput:hover .usernameLabel{
  color: var(--login-form-hover-font-color);
}
.passwordInput:hover .passwordLabel{
  color: var(--login-form-hover-font-color);
}
.name{
  height: 30px;
  font-size: 20px;
  color: var(--login-theme-color);
}
section{
  background: rgba(255, 255, 255, 0.4);
  border: solid 1px var(--login-theme-color);
  margin-bottom: 3px;
  align-items: center;
  align-content: center;
  padding: 20px;
}
section:hover{
  background-color: var(--login-theme-color);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form{
  justify-content: space-around;
}
@media all and (max-width: 800px) {
  .form{
    display: flex;
  }
}
@media all and (max-width: 600px) {
  .form{
    display: block;
  }
}

