.body{
  display: inline-flex;
  max-width: 100%;
  flex-wrap: wrap;
  height: fit-content;
  background-color: var(--itemset-background-color) ;
  justify-content:space-around;
  padding-bottom: 60px;
  padding-top: 5px;
}
