<div class="formContainer">
  <div class="formTitle">Adding a new item</div>
  <form #userForm="ngForm">
    <div class="outerContainer">
      <div class="innerContainer">
        <div class="formItemContainers">
          <label class="formNames">Name</label>
          <div>
            <input required [disabled]="!userLoggedIn" class="formNameInput" name="Name" #Name="ngModel" [style.border-color]="checkInvalidity(Name.invalid && Name.touched)" type="text" [(ngModel)]="item.Name" ngModel>
            <div *ngIf="Name.invalid && Name.touched" class="reminder">Required</div>
          </div>
        </div>
        <div class="formItemContainers">
          <label class="formNames">Category</label>
          <div>
            <select vallue="kkkk" style="border-color: white" [disabled]="!userLoggedIn" required name="Category" #Category="ngModel" [(ngModel)]="item.Category" [style.border-color]="checkInvalidity(Category.invalid)" ngModel>
              <option *ngFor="let category of categories" [selected]="category.Name==item.Category" >{{category.Name}}</option>
            </select>
            <div *ngIf="Category.invalid" class="reminder">Pick a category</div>
          </div>
        </div>
      </div>
      <div class="formItemContainers">
        <label class="formNames">Price</label>
        <div>
          <input required class="formPriceInput" [disabled]="!userLoggedIn" type="number" name="Price" #Price="ngModel" [style.border-color]="checkInvalidity(Price.invalid && Price.touched)" [(ngModel)]="item.Price" ngModel>
          <div *ngIf="Price.invalid && Price.touched" class="reminder">Required & should be a number</div>
        </div>
      </div>
    </div>

    <div class="formItemContainers">
      <label class="formNames">Picture</label>
      <input class="formFileInput" [disabled]="!userLoggedIn" multiple="multiple" type="file" (change)="onFileSelected($event)" name="File" ngModel>
      <div *ngIf="item.Images.length==0" class="reminder">Add Pictures</div>
    </div>

    <div class="formItemContainers">
      <label class="formNames">Description</label>
      <div>
        <textarea required class="formDescriptionInput" [disabled]="!userLoggedIn" type="text" name="Description" #Description="ngModel" [style.border-color]="checkInvalidity(Description.invalid && Description.touched)" [(ngModel)]="item.Description" ngModel></textarea>
        <div *ngIf="Description.invalid && Description.touched" class="reminder">Required</div>
      </div>

    </div>

    <div class="formItemContainers" ngModelGroup="sizes">
      <label class="formNames">Sizes</label>
      <div class="formSizeInput" *ngFor="let size of item.Sizes; index as i">
        <input required [(ngModel)]="item.Sizes[i]" [disabled]="!userLoggedIn" class="formSizeInputText" type="text" [name]="'size '+i" #Size="ngModel" [style.border-color]="checkInvalidity(Size.invalid && Size.touched)" ngModel>
        <button (click)="removeSize(i)" class="remove" [disabled]="!userLoggedIn" type="button">X</button>
      </div>
      <button class="addSize" (click)="addSize()" [disabled]="!userLoggedIn" type="button"><strong>+</strong></button>
      <div *ngIf="item.Sizes.length<2" class="friendlyReminder">Add Sizes</div>
    </div>
    <div class="formButtonContainer">
      <button class="submit" type="button" [disabled]="!isSubmittable(Description.valid,Description.touched,Name.valid,Name.touched,Price.valid,Price.touched,userForm.dirty)" (click)="submit()">submit</button>
    </div>
    <div class="reminder" *ngIf="!userLoggedIn">Log In to Proceed.</div>
  </form>
</div>
